@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTT-DMS | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/logo.png" type="image/gif" sizes="16x16">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Theme style -->
     @* <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">  *@
     @* <link rel="stylesheet" href="~/adminlte/plugins/iCheck/square/blue.css"> *@
     <link rel="stylesheet" href="~/lib/dist/css/bootstrap.css">
     <link rel="stylesheet" href="~/adminlte/plugins/loginPage/css/loginPage.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="hold-transition login-page" style="background-color:#3d508a !important;">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/Auth/Login" method="post">
        <h3>NTT DMS</h3>
        <p class="login-box-msg" style="color:red;">@TempData["error"]</p>

        <label for="Email">Email</label>
        <input type="text" class="form-control" name="UserEmail" placeholder=" Email">

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">

        <button>Log In</button>
        <div class="social">
            <a style="font-weight:600" href="~/Auth/Signup">Sign up</a>
        </div>
    </form>
    <!-- /.login-box -->
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- iCheck -->

</body>
</html>

